.toggle {
    background-color: white;
    box-shadow: rgba(60, 64, 67, 1) 0 1px 3px 0, rgba(60, 64, 67, 0.5) 0 8px 15px 3px;
    color: #3c4043;
    user-select: none;
    -webkit-user-select: none;
    border-radius: 20px;

    &.selected {
        box-shadow: inset rgba(60, 64, 67, 1) 0 1px 3px 0, inset rgba(60, 64, 67, 0.75) 0 8px 15px 3px;
    }

    &:hover {
        .title {
            color: #174ea6;
        }
    }
}

.background {
    border-radius: 20px;
}

.colour {
    box-shadow: rgba(60, 64, 67, 1) 0 1px 3px 0, rgba(60, 64, 67, 0.5) 0 8px 15px 3px;
    border-radius: 20px;

    input[type=checkbox] {
        -ms-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5);
    }
}

.infoTag {
    font-size: 12px;
}