.dropdown {
    background-color: white;
    box-shadow: rgba(60, 64, 67, 1) 0 1px 3px 0, rgba(60, 64, 67, 0.5) 0 8px 15px 3px;
    color: #3c4043;
    user-select: none;
    -webkit-user-select: none;

    -webkit-transition: -webkit-border-radius .05s .2s;
    -ms-transition: -ms-border-radius .05s .2s;
    transition: border-radius .05s .2s;
    border-radius: 20px;

    &.open {
        -webkit-transition: -webkit-border-radius 0s;
        -ms-transition: -ms-border-radius 0s;
        transition: border-radius 0s;
        border-radius: 20px 20px 0px 0px;
    }

    &:hover {
        color: #174ea6;
    }
}

.optionsContainer {
    min-width: calc(100% + 40px);
    left: -20px;
    padding: 0px 20px 20px 20px;
}

.options {
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    color: #3c4043;
    user-select: none;
    -webkit-user-select: none;
    max-height: 0px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-transition: -webkit-max-height .2s;
    -ms-transition: -ms-max-height .2s;
    transition: max-height .2s;

    &.open {
        box-shadow: rgba(60, 64, 67, 1) 0 1px 3px 0, rgba(60, 64, 67, 0.5) 0 8px 15px 3px;
        max-height: 400px;
    }
}

.options::-webkit-scrollbar {
    display: none;
}

.chevron {
    -webkit-transition: -webkit-transform .2s;
    -ms-transition: -ms-transform .2s;
    transition: transform .2s;

    &.chevronRotated {
        transform: rotate(90deg);
    }
}